{% extends 'base.html.twig' %}

{% block title %}Nation Sounds{% endblock %}

{% block body %}
	<style>
        .urgent { 
            color: red;
        }
        .important {
            color: #fabd02;
        }

	</style>
    
<main>
    <div class="container">
        {% for message in messages %}
            <p class="{% if message.type == 'urgent' %}urgent{% elseif message.type == 'important' %}important{% endif %}">
                {{ message.content }}
            </p>
        {% endfor %}
    </div>
</main>



{% endblock %}
