
{% extends 'base.html.twig' %}

{% block title %}Map{% endblock %}

{% block body %}
{# templates/map/show.html.twig #}

    <style>
        /* Styles CSS personnalisés pour la carte */
        #map {
            height: 400px;
        }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfh6E4gClmwOAfjx9hD9WrzmRWNWff1ko"></script>
    
</head>
<body onload="initMap()">
    <h1>Carte interactive</h1>
    <div id="map"></div>
    {% block extra_scripts %}
    <script src="{{asset ("scripts/map.js")}}"></script>
    {% endblock %}

{% endblock %}
