*{
    box-sizing: border-box;
  }
  
  
  /* typo */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Raleway";
    letter-spacing: 5px;
  }
  
  p {
    font-family: "Playfair Display";
    font-size: 1.2rem;
  }
  
  
  
 
  /*Mobile*/
 .titreFaq{
  display: flex;
  justify-content: center;
  
 }
  .centrertext
{display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
 
 .pageFaq{  
    margin: 2% 5% 5% 10%;
    display:flex;
    flex-direction: column;
    align-items: stretch;
 }
 h1{
    display:flex;
    background-color: #074760;
    color: white;
    padding:0.5em;
    border-radius: 6px 6px 6px 6px ;
    justify-content: center;
    width: 60%;

  }
    /* card des questions réponses */
  .card {
      border: 1px solid #ffffff;
      border-radius: 8px;
      margin-bottom: 20px;
    }
    .card-header {
      background-color: #e2e2e2;
      padding: 10px 20px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      /* align-items: center; */
      border-radius: 6px 6px 0px 0px ;
      
    }
    .card-body {
      padding: 20px;
      background-color: rgb(24, 116, 152,0.4);
      border-radius: 0px 0px 10px 10px;
  
    }
    .collapse {
      display: none;
    }
    
  
  #texte{
    text-align: center;
  }
 
    .laCroix p {
      color:red;
      font-size: 30px;
      font-weight:800;
    }
  

  /* formulaire */
    
  .form-control-faq{


  }

  .form-control-faq2{
    
  }
 
  
  
    
  
  
  