
/* /show */

 

.blurry-image{
    filter: blur(8px);
    -webkit-filter: blur(8px);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://images.unsplash.com/photo-1517245386807-9b4d0d403b99?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmVhdXR5JTIwY2FyZCUyMGFjdGl2aXR5fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80");
}
.perf-image{
    position: absolute;
    top: 13%;
     left: 10%;
    width: 80%;
}
.contain-performer{
    display: flex;
    background-color: white;
    border-radius: 2rem;
    padding: 2rem;    position: absolute;
    top: 65%;
    flex-direction: column;

}
.container-localisation {
    margin: auto;
    width: 85%;
  }

  .texte-color{
    color: rgb(76, 100, 206);
    display: flex;
  }

  .button-perf{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.button-css{
    background-color:white;
    color:  rgb(76, 100, 206);
    border-radius: 0.5rem;
    padding: 0.3rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin: 0.3rem;
    width: 50%;
    text-decoration:none;
}