.container {
  width: 95%;
  margin: auto;
}

.contain-festival {
  position: relative;
  margin-bottom: 1rem;
}

.contain-info-festival {
  position: absolute;
  bottom: 0.8rem;
  left: 0.3rem;
  color: white;
  backdrop-filter: blur(2px);
  border-radius: 9px;
  padding: 0 0.3rem;
}

.contain-info-festival h2 {
  font-size: 1.5rem;
}

.contain-info-festival p {
  font-size: 1rem;
}

.festival img {
  height: 140px;
  width: 100%;
  object-fit: cover;
  border-radius: 9px;
}
