.urgent {
    background-color: #FF4E41;
  }
.important {
    background-color: #efd807;
  }
h1 {
    display: flex;
    justify-content: center;
    font-size: 16px;
    padding: 10px ;

}
.ticket {
    background-color: #235a8c;
    margin-top: 10px;
    margin-bottom: 10px;
}
.ticket h1 {
    font-size: 20px;
}
.programme {
    margin: 50px;
}
.footer-menu {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 10px;
}

.footer-menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #333;
    text-decoration: none;
}

.footer-menu-item .menu-icon {
    font-size: 16px;
}

.footer-menu-item span {
    margin-top: 2px;
}
#toggleBtn {
   position: absolute; 
   bottom: 0; 
   right: 0;
   width: 50px;
} 
.messageParent {
    position: relative;
    padding-right: 50px;
}
.messageContent {
    margin-bottom: 20px;
    max-width: 80%;
}
.menu-plus {
    display: flex;
    align-items: center;
    position: relative;
}

.sub-menu {
    display: none;
    position: fixed;
    right: 0;
    bottom: 62px;
    width: 100%;
    background-color: black;
    padding: 10px;
    height: 90px;
}

.sub-menu a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.show{
    display: flex;
    background-color: grey;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.footer-menu-item.active {
    background-color: grey;
    width: 90px;
    height: 50px;
}