{% extends 'base.html.twig' %}

{% block title %}Hello FaqController!{% endblock %}


{% block extra_javascripts %}
<script defer src="scripts/restaurant.js"></script>
{% endblock %}

{% block extra_stylesheets %}
{#
<link rel="stylesheet" href="styles/restaurant-2.css"> {% endblock %} #}
{% endblock %}

{% block body %}

<main>


    <section class="laCarte">
        <h1>LA F.A.Q. De Nation Sounds Festival</h1>
        <article class="entree">

            <div class="grid1">
                {% for faq in faqs %}


                <div class="card">
                    <div class="card-header">
                        <div class="icone">
                            <h3 class="nomPlat">{{ faq.question }}</h3>
                        </div>
                        <div class="prix">
                            <p>+</p>
                        </div>

                    </div>
                    <div class="card-body collapse grid">
                        <div id="texte">
                            <p>{{ faq.answer }}</p>
                        </div>

                    </div>
                </div>

                {% endfor %}
            </div>
        </article>

    </section>

</main>

{% endblock %}