{% extends 'base.html.twig' %}

{% block title %}Hello FaqController!{% endblock %}


<a href = "{{ path(''app_faq_index_by_festival',(id = festival-id)') }}">FAQ</a>

{% block extra_stylesheets %}
<link rel="stylesheet" href="css/_faq.css"> 
{% endblock %}

{% block body %}

<main>


    <section class="pageFaq">
        <h1>LA F.A.Q. De Nation Sounds Festival</h1>
        <br>
        <article>

                {% for faq in faqs %}

                <div class="card">
                    <div class="card-header">
                        <div class="icone">
                            <p class="question">{{ faq.question }}</p>
                        </div>
                        <div class="laCroix">
                            <p>+</p>
                        </div>

                    </div>
                    <div class="card-body collapse">
                            <p>{{ faq.answer }}</p>
                        </div>

                    </div>
                </div>

                {% endfor %}
            
        </article>

    </section>

</main>


{% endblock %}

{% block extra_scripts %}
<script defer src="{{asset('scripts/faq.js')}}"></script>
{% endblock %}