{% extends 'base.html.twig' %} {% block title %}New Concert{% endblock %} {%
block body %}
<h1>Create new Concert</h1>

{{ include("concert/_form.html.twig") }}

<a href="{{ path('app_administration', { festivalId: festival.id }) }}"
  >back to list</a
>
{% endblock %}
