{% extends 'base.html.twig' %} {% block title %}Edit Performer{% endblock %} {%
block body %}
<h1>Edit Performer</h1>

{{ include("performer/_form.html.twig", { button_label: "Update" }) }}

<a href="{{ path('app_administration', { festivalId: festival.id }) }}"
  >back to list</a
>
{% endblock %}
